body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Helvetica;
    font-weight: lighter;
}

#background, #static-background, #level, #player, #fx, #ui {
    position: absolute;
    top: 0px;
    left: 0px;
}

#ui, #home {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#home .menu {
    width: 100%;
    height: 100%;
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home .menu-option {
    font-size: 48px;
    margin: 12px;
    width: 500px;
}

.menu-option {
    border: 4px solid black;
    border-radius: 4px;
    text-align: center;
    cursor: default;
    -moz-user-select: none;
    user-select: none;
}

.menu-option:hover {
    border-color: ghostwhite;
}